:root {
  --dark: #3b3b39;
  --light: #F9F5EC;
  --faith: #243d80;
  --hope: #dcc225;
  --love: #c92028;
  --spirit: #2ca46f;
  --universal: #a12d92;
  --p1: var(--faith);
  --p2: var(--hope);
  --p3: var(--love);
  --p4: var(--spirit);
}

body {
	background: var(--dark);
	color: var(--light); /*#28282b;*/
  padding: 0px;
  margin: 0px;
}

.scoreboard {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: 1fr 1fr;
}

.playercard {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
}

.p0 { background-color: #110011; color: var(--light); }
.p1 { background-color: var(--p1); color: var(--light); }
.p2 { background-color: var(--p2); color: var(--light); }
.p3 { background-color: var(--p3); color: var(--light); }
.p4 { background-color: var(--p4); color: var(--light); }

.carddata, .hotbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.closeicon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.vpoints {
  font-size: 4em;
}

.controls.add {
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.1));
}

.controls.del {
  background-image: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,0.1));
}

.hotbar {
  color: #F9F5EC;
}

.square {
  height: 100%;
  aspect-ratio: 1 / 1;
  align-content: center;
  justify-content: center;
}

.half-square {
  height: 100%;
  aspect-ratio: 1 / 2;
  align-content: center;
  justify-content: center;
}

.settings {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--dark);
  color: var(--light);
  overflow: auto;
}

.settingsbar {
  width: 100%;
  height: 8dvh;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.playersettings {
  width: 100%;
  height: 23dvh;
  font-size: 1.5em;
}

.playersettings > .square {
  margin-left: 5px;
  height: 5dvh;
}

.color-faith { background-color: var(--faith); }
.color-hope { background-color: var(--hope); }
.color-love { background-color: var(--love); }
.color-spirit { background-color: var(--spirit); }
.color-universal { background-color: var(--universal); }

.sinnies > span {
  opacity: 0.3;
}

.endgame {
  grid-area: 1 / 1 / 3 / 4;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.p0 > .endgame {
  transform: rotate(180deg);
}

.p0 > .vpoints, .p0 > .sinnies {
  transform: rotate(180deg);
}

/* SOLO */
.playercard.p1.solo, .playercard.p1.duo {
  grid-area: 8 / 1 / 14 / 3;
  transform: rotate(0deg);
}

.playercard.p2.solo, .playercard.p3.solo, .playercard.p4.solo {
  display: none;
}

.hotbar.solo {
  grid-area: 1 / 1 / 2 / 3;
}

/* DUO */
.playercard.p2.duo, .playercard.p0.solo {
  grid-area: 1 / 1 / 7 / 3;
  transform: rotate(180deg);
}

.playercard.p0.duo, .playercard.p3.duo, .playercard.p4.duo {
  display: none;
}

.hotbar.duo {
  grid-area: 7 / 1 / 8 / 3;
}

/* TRIO */
.playercard.p1.trio {
  grid-area: 8 / 1 / 14 / 3;
}

.playercard.p2.trio {
  grid-area: 1 / 1 / 7 / 2;
}

.playercard.p3.trio {
  grid-area: 1 / 2 / 7 / 3;
}

.playercard.p0.trio, .playercard.p4.trio {
  display: none;
}

.hotbar.trio {
  grid-area: 7 / 1 / 8 / 3;
}

/* QUAD */
.playercard.p0.quad {
  display: none;
}

.playercard.p1.quad {
  grid-area: 8 / 1 / 14 / 2;
}

.playercard.p2.quad {
  grid-area: 1 / 1 / 7 / 2;
}

.playercard.p3.quad {
  grid-area: 1 / 2 / 8 / 3;
}

.playercard.p4.quad {
  grid-area: 8 / 2 / 14 / 3;
}

.hotbar.quad {
  grid-area: 7 / 1 / 8 / 3;
}