:root {
  --color-faith: #667799;
  --color-hope: #f2e090;
  --color-love: #dd7788;
  --color-spirit: #7a9460;
}

body {
	background: #3b3b39;
	color: #28282b;
  padding: 0px;
  margin: 0px;
}

.scoreboard {
  margin: 0px;
  width: 100%;
  height: 100dvh; /* or svh */
}

.playercard.p1 {
  background-color: var(--color-faith);
  transform: rotate(180deg);
}

.playercard.p2 {
  background-color: var(--color-hope);
}

.playercard {
  height: 50dvh;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 3fr;
  grid-template-columns: 1fr 2fr 1fr;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.carddata {
  display: block;
  align-items: center;
  justify-items: center;
}

.cardtitle {
  grid-column: span 3;
  text-align: center;
  align-items: center;
  justify-items: center;
}